<b>Song Crosslink Bot</b>

Share your favorite music more easily by making it cross-platform.

Send this bot a link to a song on Spotify, Apple Music or any other major platform and it will return links to the rest of them.

<i>Powered by <a href="https://song.link/">Songlink</a></i>
